h2 {
    margin: 0;
    font-weight: normal;
  }
  .counter-value {
    margin-top: 23px;
    color: #90244f;
    font-size: 30px;
  }
  .buttons {
    margin: 0 auto;
    margin-top: 23px;
    display: flex;
    justify-content: center;
  }
  
  button {
    border-radius: 5px;
    border: none;
    font-size: 21px;
    background-color: #2c2f3d;
    color: white;
    margin-left: 10px;
    cursor: pointer;
  }
  body {
	margin: 30px;
     
	}
     h1{
          color: rgb(207, 36, 127);
     }
     .box{
          
          width: 300px;
          border: 7px outset rgb(135, 38, 90);
          border-radius: 20px;
          padding: 50px;
     }